.email-sender {
  font-family: sans-serif;
  opacity: 0.8;
  font-size: 1rem;
  margin: 0px;
}

.email-subject {
  font-family: sans-serif;
  opacity: 0.7;
  font-size: 0.9rem;
  margin: 0px;
}

.email-date {
  font-size: 0.8rem;
  font-family: sans-serif;
}

.email-date::before {
  content: "received: ";
  opacity: 0.4;
}
